<div class="container is-flex-direction-column">
  <app-navbar></app-navbar>
  <div class="habits-container has-background-white">
    <form [formGroup]="editHabitForm" (ngSubmit)="onSubmit()" class="habit-form">
      <p class="title has-primary-text">Edit habit</p>
      <div class="field">
        <label class="label" for="Habit">Habit</label>
        <div class="control">
          <input
            formControlName="name"
            class="input grey"
            type="text"
            placeholder="{{currhabit.name}}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Why do you want to build this habit?</label>
        <textarea
          formControlName="why"
          class="textarea grey"
          placeholder="{{currhabit.why}}"
        ></textarea>
      </div>
      <button
        class="button is-medium is-rounded is-dark"
        type="submit"
        [disabled]="!editHabitForm.valid"
      >
        Create
      </button>
    </form>
  </div>
</div>
